.EmptyState{
    text-align: center;
}

.loader {
    margin-top: 25%;
}

.CSVloader {
   text-align: right;
   margin-right: 2%;
   position: absolute;
   top: 0;
   right: 0;
   left: 70;
}

.dark-mode {
    background-color: #121a1c;
    filter: invert(1) hue-rotate(-180deg) contrast(1.19)
}