.EmptyState{
    text-align: center;
}

.loader {
    margin-top: 25%;
}

.container {
    position: relative;
}


.CSVloader {
   text-align: right;
   margin-right: 2%;
   position: absolute;
   top: 0;
   right: 0;
   left: 70;
}

// #root,body {
//     background-color: black;
//     overflow: auto
// }

// html[color-scheme='dark'] {
//     filter: invert(100%);
// }
